In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

In [5]:
train_df = pd.read_csv("data/processed_train_time_balanced_df.csv", index_col=0)

In [8]:
X_train = train_df['processed_bodies']
y_train = train_df['label']

In [9]:
tfidf = TfidfVectorizer(min_df=.01, max_df=1.0, ngram_range=(1, 3))

In [10]:
X_vec = tfidf.fit_transform(X_train)

In [18]:
X_vec_df = pd.DataFrame(X_vec.todense(), columns=pd.Series(tfidf.vocabulary_).sort_values().index)

In [23]:
unigrams = X_vec_df.T.reset_index().loc[lambda df: df['index'].str.split(' ').str.len() == 1].set_index('index').T
bigrams = X_vec_df.T.reset_index().loc[lambda df: df['index'].str.split(' ').str.len() == 2].set_index('index').T
trigrams = X_vec_df.T.reset_index().loc[lambda df: df['index'].str.split(' ').str.len() == 3].set_index('index').T

In [28]:
unigrams.head()

index,000,10,100,10th,11,110,11th,12,120,125,...,york,yorkers,young,younger,youth,youths,yr,yugoslavia,zero,zone
0,0.000000,0.015766,0.0,0.0,0.000000,0.0,0.0,0.039651,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
1,0.066979,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
2,0.000000,0.014426,0.0,0.0,0.000000,0.0,0.0,0.018140,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
3,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
4,0.000000,0.131175,0.0,0.0,0.031725,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.026024